//_home-products.scss
.home-products {
    font-weight: 200;
    margin: 0 auto;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    min-height: 100vh;
  
    .product-container {

    @media (min-width: $sm) {
        display: flex;
        gap: 1.25rem;
        justify-content: space-between;
        align-items: center;
    }
      
      @media (min-width: $xl) {
        padding: 0 10rem;
      }
      @media (min-width: $xxl) {
        padding: 0 15rem;
      }

      @media screen and (min-width: 1880px) {
        padding: 0 25rem;
      }

      @media (min-width: 1441px) {
        max-width: 1440px; /* Limit max width */
      }
  
      .product-textcontainer,
      .image-wrapper {
        flex: 1;
      }
  
      .product-textcontainer {
        padding: 1.25rem;
  
        .title {
          padding-bottom: 0.875rem;
        }
  
        .product-textbox {
          border-left: solid black 1px;
          position: relative;
  
          .textbox-title {
            font-weight: 400;
            padding-top: 2.6rem;
            padding-bottom: 1.875rem;
            padding-left: 1.3rem;
            font-size: 1.25rem;
          }
  
          .textbox-text {
            padding-left: 1.3rem;
            font-size: 1.25rem;
          }
        }
  
        .textbox-line {
          position: absolute;
          top: 2.6rem;
          width: 2px;
          height: 3.1rem;
          background-color: black;
        }
  
        .product-button {
          padding-left: 1.3rem;
          padding-top: 1.875rem;
          font-size: 1.25rem;
        }
      }
  
      .image-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (min-width: $sm) {
            justify-content: right;
        }
  
        @media screen and (max-width: $lg) {
          padding: 1.25rem;
        }
  
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }  